<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} — Scientific Python nightly wheels</title>
<link rel="icon" href="https://scientific-python.org/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap">
<link rel="stylesheet" href="_static/site.css">
</head>
<body>
<header>
<a href="https://scientific-python.org"><img src="https://scientific-python.org/images/logo.svg"
  alt="Scientific Python logo"></a>
<h1>{{ title }}
<small>{% block subtitle %}{% endblock %}</small></h1>
</header>
<main>
{% block content %}{% endblock %}
</main>
<footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
