name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Run weekly at 1:23 UTC
  schedule:
  - cron:  '23 1 * * 0'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "test upload via action"
    runs-on: ubuntu-latest
    if: github.repository == 'scientific-python/upload-nightly-action'

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        # Don't rely on the action's path being in the current directory
        with:
          path: '_action_path'

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.x'

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0

      - name: Build v0.0.1 wheel and sdist
        run: |
          uv tool run --from build pyproject-build --installer=uv --outdir ./dist _action_path/tests/test_package

      - name: Verify the distribution
        run: uv tool run twine check --strict dist/*

      - name: List contents of sdist
        run: python -m tarfile --list dist/test_package-*.tar.gz

      - name: List contents of wheel
        run: python -m zipfile --list dist/test_package-*.whl

      - name: Test upload
        uses: ./_action_path/
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{ secrets.UPLOAD_TOKEN }}

      - name: Test upload that forces removal first
        uses: ./_action_path/
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{ secrets.UPLOAD_TOKEN }}

      - name: Build v0.0.2 wheel and sdist
        run: |
          # Bump version to avoid wheel name conflicts
          sed -i 's/0.0.1/0.0.2/g' _action_path/tests/test_package/pyproject.toml
          rm ./dist/*
          uv tool run --from build pyproject-build --installer=uv --outdir ./dist _action_path/tests/test_package

      - name: Test upload with non-main label
        uses: ./_action_path/
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{ secrets.UPLOAD_TOKEN }}
          anaconda_nightly_upload_labels: test

      - name: Build v0.0.3 wheel and sdist
        run: |
          # Bump version to avoid wheel name conflicts
          sed -i 's/0.0.2/0.0.3/g' _action_path/tests/test_package/pyproject.toml
          rm ./dist/*
          uv tool run --from build pyproject-build --installer=uv --outdir ./dist _action_path/tests/test_package

      - name: Test upload with multiple labels
        uses: ./_action_path/
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{ secrets.UPLOAD_TOKEN }}
          anaconda_nightly_upload_labels: dev,test

  cleanup:
    runs-on: ubuntu-latest
    needs: [test]
    # Set required workflow secrets in the environment for additional security
    # https://github.com/scientific-python/upload-nightly-action/settings/environments
    environment:
      name: remove-old-wheels

    steps:
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@194d461b21b6c5717c722ffc597fa91ed2ff29fa  # v0.9.1
        with:
          run-install: false

      - name: Remove test package upload
        shell: pixi exec --spec anaconda-client -- bash -e {0}
        run: |
            anaconda --token ${{ secrets.ANACONDA_TOKEN }} remove \
              --force \
              "scientific-python-nightly-wheels/test-package"
