name: Keep workflows alive

on:
  # Run on the first of each month at 1:23 UTC
  schedule:
  - cron:  '23 1 1 * *'
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: write

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

    - name: Create a minimal payload
      run: |
        mkdir _pass
        touch _pass/pass.txt

    - name: Keep workflow alive
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e #v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: keep-alive
        publish_dir: _pass
        enable_jekyll: true  # avoid extra files
        force_orphan: true  # overwirte
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: Keep repo GitHub Actions alive
